html.dark *[data-rehype-pretty-code-fragment] > *[data-theme='light'] {
  @apply hidden;
}

html.light *[data-rehype-pretty-code-fragment] > *[data-theme='dark'] {
  @apply hidden;
}

div[data-rehype-pretty-code-fragment] {
  @apply overflow-hidden transition duration-200;
}

div[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) pre {
  @apply rounded-t-sm;
}

div[data-rehype-pretty-code-title] {
  @apply mb-0.5 rounded-b-sm rounded-t-xl px-3 py-1 font-mono text-sm border;
  @apply bg-black/10 border-black/20 dark:border-white/20 dark:bg-white/10;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto py-2 text-sm rounded-xl;
  @apply border border-black/20 dark:border-white/10 bg-black/5 dark:bg-white/5;
}

div[data-rehype-pretty-code-fragment] span[data-line] {
  @apply px-0;
}

div[data-rehype-pretty-code-fragment] span[data-highlighted-line] {
  @apply pl-3 border-l-4;
  @apply border-amber-500 bg-amber-500/20 dark:bg-amber-500/10;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply inline-block text-right mr-3 w-4 text-black/30 dark:text-white/20;
}
